/* h5{
  font-size: 50px;
  margin: 0;
}
.card-container{
  width: 1140px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}
.card{
  width: 220px;
  background-color: white;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgb(128, 128, 128,0.3);
  padding: 20px;
}
.card h5{
  font-size: 15px;
} */

table{
  width: 700px;
  margin: 0 auto;
  border: 1px solid black; 
}
table th td{
  width: 80px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
}
table tr td{
  width: 80px;
  padding-left: 30px;
  padding-right: 30px;
}